*{
    padding: 0;
    margin: 0;
}

body{

    font-family: 'sora', sans-serif;
    color:rgba(58,58,58);   

}

/* header section, navigation */
header{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

header h2{
    padding-left: 10px;
    font-weight: 400;
    color:gray;
}

header a{
    color: black;
    opacity: 0.8;
}

#style{
    border-right: 16px solid rgba(71,225,221, 0.65);
}

#logostyle{
    font-weight: 700;
    color:black;
    opacity: 0.84;
}

.logo{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    height:32px;
    display:flex;
    align-content: center;
    font-size: 18px;
}

.logo img{
   width: 150%;
   height: auto;
}

nav{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 24px;
    height: 64px;
    font-size: 18px;
}

ul {
    display:flex;
    justify-content: center;
    align-items: center;
  
}

li {
    display:flex;
    justify-content: center;
    align-items: center;
    height:64px;
    
    
}

/* Banner section */
.banner1 img{
    max-width: 100%;
    height:auto;
}

.banner2 h1{
    padding-bottom: 24px;
}

.banner2 p{
    padding-bottom: 32px;
}

#bannerright{
    display:flex;
    align-items: center;
    justify-content: center;
}

#button {
    text-align: center;
    background-color: rgba(58,58,58);
}

#button p, #button a{
    padding: 8px;
    color:seashell;
}

#button a:hover{
    color: rgba(196,198,201,1);
    transition-duration: 200ms;
}

#border-right {
    border-right: 1px solid rgba(196,198,201,0.5);
}

/* main containers */
.main{
    margin: 0 auto;
    display:flex;
 }

.main1{
    margin: 0 auto;
    display:flex;
    background-color: rgba(196,198,201,0.5);
    color: rgba(58,58,58);
}

.container-left{
    max-width:60%;
    height: auto;
    padding: 32px 24px;
 }
.container-left img{
    max-width: 100%;
    height: auto;
 }

.container-right{
    max-width:40%;
    padding-top: 16px;
    display:flex;
}

.container{
    margin: 0 auto;
    background-color: rgba(196,198,201,0.5);
    }
.container h1{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

/* Information section */
.item{
    display:flex;
    padding:16px;
    align-items: center;
}

#border-bottom{
    border:none;
}

#double-border-top{
    border-top:4px double rgba(196,198,201,0.5);
}

.item-info{
    padding: 16px;
}

.item-info h2, .item-info p{
    padding: 8px 0;
}

.item img{
   max-width: 35%;
   height: auto;
}
 
#item3style {
     background-color: rgba(196,198,201,0.5); 
}

#title{
    padding-top: 32px;
    text-align: center;
}

.information-main h1{
    padding-top: 32px;
    padding-bottom: 24px;
}

.information-main p {
     padding-bottom: 32px;
}

/* Learning section */
.learning-main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:32px 72px;
}

.box {
    width:400px;
    margin-right: 32px;
    margin-bottom: 32px;
    background-color: white;
}

.box h2{
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  
}

.box p{
    padding-left: 16px;
    padding-bottom: 24px;
    padding-right:16px;
    color: rgba(58,58,58, 0.58);
}

.box img{
    height: auto;
    max-width: 100%;
 }

 /* footer section */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(196,198,201,0.5);
    padding: 16px 24px;
}
 
footer li{
    padding-right: 24px;
}

footer a{
    color:rgba(58,58,58, 0.58);
}

a{
    color:rgba(66,166,251);
    text-decoration: none;
}

a:hover{
    color: rgba(196,198,201,1);
    transition-duration: 200ms;
 }

.main h1{
    padding-top: 32px;
    padding-bottom: 32px;
}

/* Mobile section */
@media only screen and (max-width: 738px){

    /* Header, navigation section */
    header {
        display:flex;
        justify-content: space-evenly;
        align-items: center;
    }
    nav{
        display:none;
    }

    .logo h2 {
        display:none;
    }
    
    .logo img{
        width: 38px;
        
    }
    
    /* Banner section */
    .main1{
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }
    .container-left{
        margin: 0 auto;
        max-width: 100%;
        padding: 0;
    }
    .container-right{
        margin: 0 auto;
        max-width: 100%;
        padding: 0;
    }
    .banner2{
        padding:0 16px;
    }
    .banner2 h1{
        padding:32px 0;
    }
    .banner2 p{
        font-size: 22px;
    }
    #button{
        padding:8px 0;
        margin-top:24px;
        margin-bottom: 32px;
    }
    
    /* Information section */
   #border-right{
    display:none;
   }
   #bigger-images{
       display:none;
   }
    .item img{ 
       max-width: 100%;
   }
   .item{
    flex-direction: column;
    padding: 0;
    align-items: start;
   }
   .information-main-right{
       padding:16px;
   }

 #double-border-top{
     border:none;
 }

 #item3style{
     background-color: white;
     border-bottom: 1px solid rgba(196,198,201,0.5);
 }

 /* Learning section */
.container{
    background-color: white;
    
}
.container h1{
  padding-top 16px;
  padding-bottom: 0;
}
.learning-main {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(196,198,201,0.5);
}



.box{
    background-color: rgba(196,198,201,0.6);
    padding:16px;
    margin: 8px 0;
}
.box img, .box p{
    display:none;
}


 /* Thesis section */
 #thesis, #thesis h1, #thesis p{
    display:none;
}
.container-left{
    width: 100%;
}

#title{
    padding-bottom: 16px;
}

 /* footer section */
footer p{
    padding:16px
}
 ul{
     display:none;
 }






}

@media only screen and (min-width: 739px){
    #mobile-icons{
        display:none;
    }

    #mobile-images{
    display:none;
    }