*{
    padding: 0;
    margin: 0;
}
body{

    font-family: 'sora', sans-serif;
    color:rgba(58,58,58);

}
header{

    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    
    
    
}
header h2{
    font-weight: 400;
    color:gray;

}

header a{

    text-decoration: none;
    color: black;
    opacity: 0.8;
    
}
#style{
    border-right: 16px solid rgba(71,225,221, 0.65);
}
#logostyle{
    font-weight: 700;
    color:black;
    opacity: 0.84;
}
.logo{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    height:32px;
    display:flex;
    align-content: center;
    font-size: 18px;
    
    
}
.logo img{
    height:150%;
}

nav{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 24px;
    height: 64px;
    font-size: 18px;
    
  
}

ul {
    display:flex;
    justify-content: center;
    align-items: center;
   
}

li {
    display:flex;
    justify-content: center;
    align-items: center;
    height:64px;
    
}



.banner1{
    padding: 32px 24px;
}
.banner1 img{
    max-width: 100%;
    height:auto;
}

.banner2 {
padding: 24px;
}
.banner2 h1{
    padding-bottom: 24px;
}
.banner2 p{
    padding-bottom: 32px;
}
#button {
    
    text-align: center;
    background-color: rgba(58,58,58);

}
#button p, #button a{
    padding: 8px;
    color:seashell;
}
#button a:hover{
    color: rgba(196,198,201,1);
    transition-duration: 200ms;
}

.main{
    margin: 0 auto;
    display:flex;
 }
 .main1{
    margin: 0 auto;
    display:flex;
    background-color: rgba(196,198,201,0.5);
    color: rgba(58,58,58);
    
 }
#border-right {
    border-right: 1px solid rgba(196,198,201,0.5);
}
 .container-left{
     max-width:60%;
     height: auto;
     
     
     
 }
 .container-left img{
     max-width: 100%;
     height: auto;
     
     
 }
 .container-right{
    
     max-width:40%;
     display:flex;
     flex-direction: column;   
     justify-content: center; 
     
     
 }

.item{
    display:flex;
    padding:16px;
    align-items: center;
    
}
#border-bottom{
    border:none;
}
#double-border-top{
    border-top:4px double rgba(196,198,201,0.5);
}
.item-info{
    padding: 16px;
    
 }
 .item-info h2, .item-info p{
    padding: 8px 0;
 }
 .item img{
   max-width: 35%;
   height: auto;
 }
 
 #item3style {
     background-color: rgba(196,198,201,0.5);
     
 }
 .information-main{
    padding: 32px 24px;
 }
 .information-main h1{
    padding-top: 32px;
    padding-bottom: 24px;
 }
 .information-main p {
     padding-bottom: 32px;
 }
.container{
    margin: 0 auto;
    text-align: center;
    padding:32px 0;
    
}
 .learning-main{
    
    display:flex;
    margin: 32px 72px;
    flex-wrap: wrap;
    justify-content: center;
  
    
 }

 .box {
     
    width:400px;
     margin: 32px;
     background-color: white;
   
   
 }
 .box img{
     height: auto;
     max-width: 100%;
 }

 footer{
     text-align: left;
     margin:16px 24px;
 }

 a{
    color:rgba(66,166,251);
    text-decoration: none;
    
 }

 a:hover{
    color: rgba(196,198,201,1);
    transition-duration: 200ms;

    
 }